@media (max-width:1400px){
    .for-width{
       width: 100%;
        max-width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .header-menu {
        width: 70%;
    }
    .logo {
        width: 15%;
    }
    .header-menu-icon {
        width: 15%;
    }
    .for-email {
        width: 60%;
        text-align: right;
    }
    .torper-left-text {
        width: 40%;
    }
}
@media (max-width:1200px){
    .toper-login {
        width: 35%;
    }
    .toper-address {
        width: 65%;
        line-height: 49px;
    }
    .menu ul li a {
        padding: 0 8px;
    }
    .menu ul li a::after {
        right: 8px;
    }
    .categorise-text h3 {
        font-size: 17px;
    }
    .course-price h2 {
        margin-bottom: 10px;
        font-size: 17px;
    }
    .course-next {
        width: 25%;
    }
    .course-icon {
        width: 75%;
    }
    .course-icon span {
        margin-right: 5px;
    }
    .admission-content {
        text-align: center;
        margin-left: 0;
        padding: 20px;
    }
    .admission-img {
        width: 100%;

    }
    .admission-content {
        width: 100%;
       
    }
    .admission-content {
        width: 98%;
        text-align: center;
    }
    .detales-right h2 {
        font-size: 17px;
    }
    .news-time-text h2 a {
        font-size: 20px;
        margin: 16px 0px;
    }
  
}
@media (max-width:1078px){
    .about-details h2 {
        font-size: 26px;
        margin-bottom: 16px;
    }
    .about-details p {
        font-size: 13px;
    }
    .notice-text p {
        font-size: 12px;
    }
    .course-rate a {
        font-size: 14px;
    }
    .ask-questioin h2 {
        font-size: 28px;
        padding: 5px 0;
    }summary {
        padding: 9px;
        font-size: 16px;
    }
    summary::before {
        top: 9px;
        left: 10px;
    }
    .news-time-text h2 a {
        font-size: 17px;
    }
    .news-time-text span {
        margin-right: 3px;
    }
    .email-1 {
        width: 242px;
    }
    .torper-left-text h2 {
        font-size: 32px;
    }
}


@media (max-width:992px){
    .toper-login {
        width: 45%;
        padding-top: 23px;
    }
    .toper-address {
        width: 55%;
        line-height: 49px;
    }
    .toper-address a {
        border-right: none;
    }
    .menu ul li a {
        line-height: 60px;
    }
    .header-menu {
        width: 75%;
    }
    .logo {
        width: 100%;
        text-align: center;
    }
    .header-menu-icon {
        width: 25%;
    }
    .text-center {
        text-align: left;
    }
    .menu ul li a::after {
        top: 18px;
    }
    .menu ul li a span {
        margin-left: 0;
    }
    .menu ul li a {
        line-height: 37px;
    }
    .main-header{
        background: #ddd;
    }
    .about-details {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
    .about-father-div {
        bottom: -1010px;
    }
    .about-content {
        width: 100%;
        margin-left: 0;
    }
    .notice-text p {
        font-size: 15px;
    }
    .about-img {
        margin-right: 27px;
        width: 100%;
    }
    .main-header {
        background: #fff;
        position:inherit;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .category-section {
        margin-top: 790px;
        padding: 80px 0;
    }
    .categorise-img {
        width: 65px;
        height: 65px;
        line-height: 65px;
    }
    .categorise-text {
        left: 95px;
    }
    .categorise-text h3 {
        font-size: 14px;
    }
    .category-heading {
        width: 100%;
        text-align: center;
    }
    .catergory-btn {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .category-heading h2 {
        font-size: 30px;
        margin-bottom: 26px;
    }
    .course-part {
        width: 49%;
    }
    .course-part:nth-child(3n+3){
        margin-right: 2%;
    }
    .course-part:nth-child(2n+2){
        margin-right: 0;
    }
    .course-img img {
        width: 100%;
    }
    .admission-content {
        width: 96%;
    }
    .admission-section {
        margin-bottom: 31px;
    }
    .ask-questioin {
        width: 100%;
        padding: 38px;
    }
    summary {
        padding: 12px;
        font-size: 19px;
    }
    summary::before {
        top: 13px;
        left: 10px;
    }
    .ask-questioin h2 {
        font-size: 28px;
        padding: 16px 0;
        text-align: center;
    }
    .question-img {
        width: 100%;
    }
    .question-section {
        margin-bottom: 40px;
    }
    .teacher-img:hover .teacher-text {
        top: 17px;
    }
    .teacher-section {
        padding: 36px 0;
        margin: 36px 0;
    }
    .teacher-text h3 {
        margin-top: 70px;
    }
    .teacher-text p {
        margin-bottom: 12px;
    }
    .testimonial-section {
        margin-bottom: 35px;
    }
    .Testimonial-heading {
        text-align: center !important;
    }
    .Testimonial-heading h2 {
        font-size: 27px;
        margin-bottom: 29px;
    }
    .testimonial-father-div p {
        font-size: 17px;
        line-height: 24px;
    }
    .text-center {
        text-align: center;
    }
    .slider-icon {
        margin-top: 50px;
    }
    .news-img-part {
        width: 100%;
        overflow: hidden;
    }
    .news-time-text {
        width: 100%;
    }
    .news-img-part {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }
    .main-news-div {
        width: 33%;
    }
    .news-details-right {
        width: 60%;
    }
    .news-time-text {
        margin-top: -18px;
    }
    .news-time-text h2 a {
        font-size: 14px;
        margin: 11px 0px;
    }
    .news-time-text span span {
        margin-left: 4px;
    }
    .torper-left-text h2 {
        font-size: 29px;
    }
    .for-email {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    .under-full-section {
        padding: 30px;
    }
    .torper-left-text {
        width: 100%;
        text-align:center ;
    }
    .footer-1 ul li a {
        font-size: 13px;
    }
    .three p {
        font-size: 13px;
    }
    .footer-1 h2 {
        font-size: 16px;
    }
    .footer-1 {
        padding: 77px 0px;
    }
    .footer-1 ul li a::before {
        top: 6px;
    }
    .middle-footer-text {
        width: 49.3%;
    }
    .lower-footer-img {
        width: 20.3%;
    }
    .social-menu {
        width: 30.3%;
    }

    .text-center {
        text-align:left ;
    }
    .menu-icon ul li a {
        line-height: 36px;
    }
    .left-icon {
        width: 20%;
        text-align: center;
    }
    .shop-txt {
        width: 50%;
    }
    /* .text-center {
        text-align: center;
    } */
    .main-shop-div {
        width: 209px;
        z-index: 1;
    }


    
}
/* main-css */
.menu-check{
    display:none;
}
.mobile{
    display:none;
}
.cross-bar{
    display: none;
}

@media (max-width:768px){

    .toper-address {
        width: 100%;
        text-align: center;
        line-height: 0;
        padding: 5px 0;
    }
    .toper-login {
        width: 100%;
        padding-top: 15px;
        text-align: center;
        padding-bottom: 12px;
    }
    .toper-address span {
        padding-bottom: 5px;
    }
    .header-menu-icon {
        width: 50%;
    }
    .text-right {
        text-align: right;
    }
    .toper-login {
        text-align: center !important;
    }
    .notice-text p {
        font-size: 11px;
    }
    .about-father-div {
        bottom: -889px;
    }
    .notice-1 h4 {
        font-size: 13px;
    }
    .about-details h2 {
        font-size: 17px;
        margin-bottom: 13px;
    }
    .about-father-owner {
        margin-top: 21px;
    }
    .about-details p {
        font-size: 11px;
        line-height: 20px;
    }
    .banner-heading h1 {
        font-size: 22px;
    }
    .banner-section {
        padding-top: 63px;
        padding-bottom: 200px;
    }
    .category-heading {
        width: 100%;
        text-align: center;
    }
    .category-heading h2 {
        font-size: 28px;
        margin-bottom: 22px;
    }
    .catergory-btn {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .categorise-item {
        width: 100%;
        margin-right: 0;
    }
    .categorise-img {
        margin: auto;
    }
    .categorise-text {
        left: 0;
        right: 0;
        text-align: center;
        top: 77px;
    }
    .categorise-inner-father {
        padding-bottom: 70px;
    }
    .categorise-text h3 {
        font-size: 22px;
    }
    .teacher-text h3 {
        margin-top: 43px;
    }
    .testimonial-father-div {
        width: 100%;
        margin-bottom: 45px;
    }
    .news-img-part {
        width: 100%;
        margin: 20px auto;
        overflow: hidden;
        padding: 20px 0;
    }
    .main-news-div {
        width: 100%;
    }
    .news-details-left {
        background: #fff;
        margin-bottom: 25px;
        text-align: center;
    }
    .detales-right h2 {
        font-size: 20px;
    }
    .news-right-father {
        background: #fff;
        padding: 15px;
        margin-bottom: 20px;
    }
    .torper-left-text h2 {
        font-size: 21px;
    }
    .email-1 {
        width: 215px;
        padding: 12px;
    }
    .button-1 {
        font-size: 16px;
        padding: 14px 28px;
    }
    .footer-1 {
        padding: 39px 0px;
        width: 50%;
        text-align: center;
    }
    .footer-1 ul li a {
        font-size: 16px;
    }
    .three p {
        font-size: 16px;
    }
    .lower-footer-img img {
        width: 100px;
    }
    .lower-footer-img {
        width: 100%;
        text-align: center;
    }
    .middle-footer-text {
        width: 50%;
        padding: 19px 0; 
    }
    .social-menu {
        width: 50%;
        text-align: right;
        line-height: 77px;
    }


    /* menu css */
    .menu{
        position: absolute;
    }
    .header-menu{
        position: relative;
    }
    .menu-check {
        display: block;
        position: absolute;
        top: 5px;
        opacity: 0;
        cursor: pointer;
        width: 20px;
        height: 19px;
    }
    .mobile {
        display: block;
        font-size: 20px;
        position: relative;
        pointer-events: none;
        top: 3px;
    }

    /* .cross-bar{
        display: block;
        font-size: 20px;
        top: 0px;
        left: 0px;
        pointer-events: none;
        opacity: 1;
    } */
    .header-menu .menu-check:checked ~ .mobile{
        opacity: 1;
    }
    .header-menu .menu-check:checked ~ .cross-bar{
       
    }

     .menu {
     
        position: relative;
        text-align: left;
        display: none;
    }
    .menu ul li{
        display: block;
    }
   
    .home-header {
        top: 0;
        left: 160px;
        width: 448px;
        padding: 5px;
         line-height: 33px;
     
    }
    .menu ul li .about-part {
        top: 0;
        left: 160px;
    }
    
    
    .header-menu .menu-check:checked ~ .menu{
       display: block;
    }
    

    .menu {
        position: absolute;
    }
    .menu-icon ul li a {
        line-height: 30px;
    }
    .header-menu {
        width: 50%;
    }
    .news-details-right {
        width: 100%;
    } 
    .home-header {
        left: 119px;
        width: 216px;
    }
    .home-1 {
        width: 100%;
    }
    .menu ul {
        width: 139px;
        background: #fff;
    }
    .menu ul li .about-part {
        top: 0;
        left: 137px;
    }
    .home-header {
        z-index: 999;
    }
    .for-hidden{
        display: none !important;
    }

}
@media (max-width:648px){ 
    .course-price h2 {
        font-size: 15px;
        text-align: center;
    }
    .course-icon {
        width: 100%;
        text-align: center;
    }
    .course-next {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .course-rate a {
        font-size: 11px;
    }
    .course-rate h4 {
        padding: 7px 14px;

    }
    .admission-content h2 {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .admission-content {
        width: 94%;
    }
    .teacher-text h3 {
        margin-top: 31px;
        font-size: 16px;
    }
    .teacher-text p {
        margin-bottom: 1px;
        font-size: 12px;
    }
    .teacher-text span a {
        padding: 5px;
    }
    .teacher-img:hover .teacher-text {
        top: 11px;
    }
}
@media (max-width:576px){
    .notice-text p {
        font-size: 13px;
    }
    .notice-1 h4 {
        font-size: 14px;
    }
    .about-details h2 {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .about-father-div {
        bottom: -1020px;
    }
    .notice-text {
        box-sizing: border-box;
        padding-right: 4px;
    }
    .category-section {
        margin-top: 894px;
        padding: 55px 0;
    }

    .course-icon {
        width: 70%;
        line-height: 48px;
    }
    .course-icon span {
        margin-right: 14px;
        color: #606060;
    }
    .course-icon i{
        color: #fcb903;
    }
    .course-icon span i {
        margin-right: 12px;
        color: #606060;
    }
    .course-next{
        width: 30%;
        text-align: right;
        margin-top: 5px;
    }
    .course-next span {
        display: inline-block;
        font-size: 19px;
        width: 49px;
        height: 40px;
        line-height: 42px;
        border: 2px solid #21a7d0;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        background: #f3f8f9;
    }
    .course-part {
        width: 100%;
    }
    .course-price h2 {
        text-align: left;
    }
    .course-icon {
        text-align: left;
    }
    .admission-content {
        width: 93%;
    }
    .admission-content p {
        margin-bottom: 14px;
    }
    .ask-questioin h2 {
        font-size: 23px;
    }
    summary {
        font-size: 14px;
    }
    .teacher-item-div {
        width: 100%;
    }
    .teacher-text h3 {
        margin-top: 112px;
        font-size: 27px;
    }
    .teacher-text p {
        margin-bottom: 41px;
        font-size: 18px;
    }
    .teacher-text span a {
        padding: 21px;
    }
    .teacher-img:hover .teacher-text {
        top: 33px;
    }
    .email-1 {
        width: 180px;
        padding: 9px;
        font-size: 15px;
    }
    .button-1 {
        font-size: 14px;
        padding: 10px 19px;
    }
    .footer-1 {
        width: 100%;
    }
    .social-menu {
        width: 100%;
        text-align: center;
        line-height: 61px;
    }
    .middle-footer-text {
        width: 100%;
        padding: 4px 0;
    }
   
}
@media (max-width:530px){
    .about-father-div {
        bottom: -1040px;
    }
    .course-rate a {
        font-size: 14px;
    }
}
@media (max-width:500px){
    .banner-section {
        padding-bottom: 115px;
    }
    .banner-heading p {
        width: 355px;
        font-size: 13px;
    }
    .banner-heading h1 {
        font-size: 20px;
    }
    .banner-section {
        padding-top: 49px;
        padding-bottom: 111px;
    }
    .about-father-div {
        bottom: -990px;
    }
    .banner-heading-txt {
        width: 100%;
    }
    .about-father-div {
        width: 100%;
        margin: auto;
    }
    .banner-heading p {
        width: 100%;
        font-size: 12px;
    }
    .about-father-div {
        bottom: -975px;
    }
}
@media (max-width:440px){
    .toper-address span {
        font-size: 12px;
    }
    .about-details h2 {
        font-size: 14px;
    }
    .banner-section {
        padding-top: 24px;
        padding-bottom: 94px;
    }
    .banner-heading p {
        font-size: 10px;
    }
    .banner-btn a {
        font-size: 10px;
        padding: 11px 28px;
    }
    .about-father-div {
        bottom: -955px;
    }
    .category-section {
        margin-top: 894px;
        padding: 30px 0;
    }
    .course-icon span {
        margin-right: 5px;
    }
    .course-icon {
        width: 74%;
    }
    .course-next {
        width: 26%;
    }
    .admission-content {
        width: 91%;
    }
    details p {
        line-height: 20px;
        font-size: 12px;
    }
    summary {
        font-size: 10px;
    }
    summary::after {
        top: 12px;
    }
    summary::before {
        top: 11px;
    }
    .ask-questioin h2 {
        font-size: 16px;
        padding: 10px;
    }
    .teacher-text h3 {
        margin-top: 85px;
    }
    .teacher-text p {
        margin-bottom: 15px;
    }
    .teacher-text span a {
        padding: 14px;
    }
    .teacher-img:hover .teacher-text {
        top: 17px;
    }
    .Testimonial-heading h2 {
        font-size: 24px;
    }
    .testimonial-father-div p {
        font-size: 12px;
        line-height: 22px;
    }
    .slider-icon {
        margin-top: 0px;
    }
    .under-full-section {
        padding: 21px;
        top: 26px;
    }
    .email-1 {
        width: 147px;
        padding: 9px;
        font-size: 12px;
    }
    .button-1 {
        font-size: 12px;
        padding: 9px 14px;
    }
    .torper-left-text h2 {
        font-size: 18px;
    }
    .under-full-section {
        top: 33px;
    }
    .home-header {
        left: 119px;
        width: 163px;
        z-index: 999;
    }
}
